  ::-webkit-scrollbar {
      width: 10px;
      /* Width of the vertical scrollbar */
      height: 10px;
      /* Height of the horizontal scrollbar */
    }

    ::-webkit-scrollbar-track {
      background: transparent;
      /* Color of the scrollbar track */
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(239, 119, 115, 0.559);
      /* Color of the scrollbar thumb */
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #640707;
      /* Color when hovering over the thumb */
    }

    body {
      background-image: url(images/bag.jpg);
      height: 90vh;
      background-repeat: repeat;
      background-size: cover;
      font-family: "BBH Bogle", sans-serif;
      overflow: hidden;
    }

    .head {
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      width: 97%;
      height: 60px;
      border-radius: 20px;
      font-size: 15px;
      color: rgb(35, 212, 198);
      transform: translateX(0px);
      animation: intro 2s cubic-bezier(0, 0, 0.62, 1.05);
    }

    .head img {
      width: 80px;
      border-radius: 50%;
    }

    @keyframes intro {
      from {
        transform: translateX(-600px);
      }

      to {
        transform: translateX(0px);
      }
    }

    .main {
      background-color: rgba(240, 248, 255, 0);
      box-shadow: 0 0 8px rgba(67, 65, 65, 0.471),
        inset 0 0 7px rgba(226, 224, 224, 0.659);
      margin-top: 20px;
      backdrop-filter: blur(4px);
      display: flex;
      width: 96%;
      margin-left: 20px;
      height: 80vh;
      align-items: space-around;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      border-radius: 20px;
      padding: 10px;
      padding-top: 510px;
      box-sizing: border-box;
      overflow-y: scroll;
      overflow-x: hidden;
      transform: translateY(0px);
      animation: inro2 2s ease-out;
    }

    @keyframes inro2 {
      from {
        transform: translateY(900px);
      }

      to {
        transform: translateY(0px);
      }
    }

    .in {
      width: 100%;
      padding: 15px;
      height: 25px;
      display: flex;
      align-items: center;
      /* justify-content: center; */
      gap: 20px;
    }

    .in p {
      font-size: 30px;
      color: rgb(143, 141, 141);
    }

    .in button {
      background: linear-gradient(80deg, rgb(3, 65, 50), rgb(6, 90, 69));
      /* background: linear-gradient(80deg, rgb(101, 10, 10), rgb(161, 37, 37)); */
      border: none;
      outline: none;
      font-weight: 700;
      width: 200px;
      height: 40px;
      border-radius: 6px;
      color: white;
      padding: 10px;
      cursor: pointer;
      transition: 0.2s ease;
      box-shadow: inset 0 0 9px rgba(6, 82, 35, 0.833);
      box-shadow: 0 0 0px rgb(8, 75, 34);
    }

    .in button:hover {
      background-color: rgb(11, 88, 59);
      transform: scale(1.04);
      box-shadow: 0 0 20px rgb(3, 61, 47);
    }

    .iin {
      width: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      /* justify-content: center; */
      gap: 20px;
    }

    .iin p {
      font-size: 20px;
    }

    .iin button {
      background: linear-gradient(80deg, rgb(10, 63, 40), rgb(6, 87, 67));
      /* background: linear-gradient(80deg, rgb(101, 10, 10), rgb(161, 37, 37)); */
      border: none;
      outline: none;
      font-weight: 700;
      width: 200px;
      height: 40px;
      border-radius: 6px;
      color: white;
      padding: 10px;
      cursor: pointer;
      transition: 0.2s ease;
      box-shadow: inset 0 0 9px rgba(3, 43, 18, 0.833);
      box-shadow: 0 0 0px rgb(3, 54, 26);
    }

    .iin button:hover {
      background-color: rgb(14, 80, 52);
      transform: scale(1.04);
      box-shadow: 0 0 20px rgb(2, 46, 35);
    }

    #six table {
      border-collapse: collapse;
      text-align: center;
      font-size: 20px;
      border-radius: 20px;
    }

    #six th,
    #six td {
      border: 1px solid #555;
      padding: 10px 15px;
    }

    #six th {
      color: white;
    }

    #six tr {
      color: #f2f2f2;
    }

    #six tr:hover {
      background-color: #dddddd6d;
    }
    h1 {
      color: #0c5e40;
    }